<h3>Review your votings!</h3>
<!--Filtering-->
<h4>Filters:</h4>
<form class="form-inline">
    <div class="form-group">
        <label for="title">Title: </label>
        <input type="text" class="form-control" id="title" name="title" />
    </div>
    <div class="form-group">
        <label for="status">Status: </label>
        <select class="form-control" id="status" name="status">            
            <option>Ongoing</option>
            <option>Scheduled</option>            
            <option>Closed</option>
            <option>Archived</option>
        </select>
    </div>
    <button type="button" class="btn btn-info" role="button" id="clear">Clear filters</button>
</form><br /><br />
<!--Chart of votings-->
<?php
try {
    if($q->rowCount()) {
        echo '<table id="list" class="table"><thead><tr><th>Nr.</th><th>Title</th><th>Status</th><th>Action</th></tr></thead><tbody id="table">';
        while($list = $q->fetch()) {
            echo '<tr>';
            echo '<td>' . $nr++ . '</td>';
            echo  "<td>{$list->getTitle()}</td>";
                switch($list->getStat()) {
                    case 0:
                    echo '<td>Ongoing</td>';
                    break;
                    case 1:
                    echo '<td>Scheduled</td>';
                    break;                    
                    case 2:
                    echo '<td>Closed</td>';
                    break;
                    case 3:
                    echo '<td>Archived</td>';
                    break; 
                }
                echo "<td><a href=\"manage?voting_id={$list->getVotingId()}\" class=\"btn btn-success\" role=\"button\">Open</a>&nbsp;
                <a href=\"votes?voting_id={$list->getVotingId()}\" class=\"btn btn-warning\" role=\"button\">Review votes</a></td>";
                echo '</tr>';
            
        }
        echo '</tbody></table>';
    }
    else {
        throw new Exception('<div class="alert alert-danger" role="alert">Currently you don\'t have saved voting!</div>');
    }
}
catch(Exception $e) {
    echo $e->getMessage();
}
?>
    <script src="js/review.js"></script>